/*
Main css

css list:
===========================
1:fonts 
===========================
2:typography css
===========================
3:reset 
===========================
4:form section
===========================
5:select2 reset
===========================
6:global classes
===========================
7:responsive
===========================

*/
/*===================
    variables
=====================*/

:root{
    --text-gray: #a29797;
}


/*===================
    1) fonts 
=====================*/

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Yekan/Yekan.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Yekan/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/IranYekan/iranyekanwebbold.eot');
    src: url('../fonts/IranYekan/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/IranYekan/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/iranyekanwebbold.ttf') format('truetype');
}
@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IranYekan/iranyekanweblight.eot');
    src: url('../fonts/IranYekan/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/IranYekan/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/iranyekanweblight.ttf') format('truetype');
}
@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IranYekan/iranyekanwebregular.eot');
    src: url('../fonts/IranYekan/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/IranYekan/iranyekanwebregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/iranyekanwebregular.ttf') format('truetype');
}

/*===================
    2) typography 
=====================*/

body,h1,h2,h3,h4,h5,h6,p,span,button,div,a,li{
    font-family: IRANYekan,sans-serif;
}

/*===================
    3) reset 
=====================*/

body{
    background-color: #f1f1f1;
    direction: rtl;
    text-align: right;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

a:hover{
    color: black;
}

/*===================
    4) form section 
=====================*/

input.form-control{
    background: #f3f3f3;
    border-radius: .5rem;
    color: #8e8d8d;
}

select.custom-select{
    border-radius: .5rem;
    color: #8e8d8d;
    background-color: #f3f3f3;
}

textarea.form-control{
    border-radius: .5rem;
    color: #8e8d8d;
    background-color: #f3f3f3;
}

.errMessage{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 124%);
    font-size: .8rem;
    width: 100%;
    display: inline-block;
    background: #e76767;
    color: white;
    padding: .5rem;
    margin-top: .6rem;
    border-radius: .5rem;
    z-index: 1;
    opacity: 0;
    transition: all .3s;
    animation-name: hide5s;
    animation-duration: 3s;
}
.errMessage::before{
    content: "";
    display: inline-block;
    background-color: #e76767;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 9px;
    top: -5px;
    transform: rotateZ(45deg);
}
.v-select + .error_icon{
    left: 27px
}
.v-select + .error_icon + .errMessage::before{
    left: 30px;
}
@keyframes hide5s{
    0%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

button:focus{
    outline: 0;
    box-shadow: none!important;
}

.vue-star-rating{
    justify-content: center;
}

.btn-float{
    padding: 5px;
    display: inline-block;
    background: none;
    border: 0;
    color: #ff4444b5;
    position: absolute;
    line-height: 19px;
    z-index: 1;
    left: 0px;
    top: 0;
}
.btn-remove{
    padding: 5px;
    background: none;
    border: 0;
    color: #ff4444b5;
}
.btn-remove:hover{
    color: #ff4444;
}
.btn-float:hover{
    color: #ff4444;
}
.form-group{
    position: relative;
}

/*===================
    5) plugins reset
=====================*/

/* Select2 */

.vs__dropdown-toggle{
    background: #f3f3f3!important;
    padding: .2rem!important;
    border-radius: .5rem!important;
    border: 1px solid #ced4da!important;
    cursor: pointer!important;
}

.v-select ul{
    text-align: right;
}

.vs__actions{
    cursor: pointer;
}

.vs__actions .vs__clear{
    display: none;
}

/* Vue persian datepicker */

.vpd-icon-btn{
    border-radius: 0 .5rem .5rem 0;
    background-color:rgb(181, 181, 181) !important;
}
.vpd-icon-btn svg{
    position: relative;
    bottom: 2px;
}

.vpd-input-group input{
    border-radius: .5rem 0 0 .5rem;
}
/*===================
   6) global classes
=====================*/
.text-light{
    color: #f6fbfb;
}

.text-gray{
    color: var(--text-gray);
}

.mw-300{
    max-width: 300px;
}

.form-title{
    color: #02a398;
}
.form-section{
    margin-bottom: 2.5rem;
}

.form-sections{
    min-height: 400px;
}

.row-box{
    position: relative;
    background-color: #efffdd38;
    border-radius: .3rem;
    border: 1px solid #fde3e3;
    margin: .5rem;
    padding: .5rem 0;
}

.row-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: #efffdd38;
    border-radius: .3rem;
    border: 1px solid #fde3e3;
    padding: .5rem;
    margin: .5rem 0;
}

.item-flex{
    flex:1 1 160px;
    margin: 0 .3rem;
    max-width: 300px;
}
.item-flex__two{
    flex: 2 1 320px!important;
    max-width: initial!important;
}
.error_icon{
    position: absolute;
    left: 6px;
    bottom: 8px;
    cursor: help;
}
.error_icon:hover + .errMessage{
    opacity: 1;
}


/* .error input{
    background: #ffffff url(../images/exclamation_icon.svg) no-repeat left center;
    border: 1px solid #e76767;
    background-position: 8px;
}

.error select{
    background: #ffffff url(../images/exclamation_icon.svg) no-repeat left center;
    border: 1px solid #e76767;
    background-position: 8px;
} */

/* .success input{
    background: #ffffff url(../images/tick_icon.svg) no-repeat left center;
    border: 1px solid #32c671;
    background-position: 8px;
} */

/*===================
    7) responsive 
=====================*/

@media (max-width:768px){
    .row-box{
        margin: .5rem 0;
        padding: 0;
    }
}

@media (max-width:768px){
    .item-flex{
        max-width: initial;
    }
}


.custom-control-inline{
    margin-right: 0;
}
.custom-control{
    padding-left: 2.5rem;
}
select option {
    background: #ffffff;
    color: black;
}



